<div ng-controller="AddBatchCtrl">


<div class="row" >
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Add New Batch</strong>
                <div class="card-actions">
                    <a data-toggle="collapse" href="#collapse1AddNewBatch" class="btn-minimize" ><i class="icon-arrow-up"></i></a>
                </div>
            </div>
            <div class="card-block" id="collapse1AddNewBatch" class="panel-collapse collapse">

                <!-- Row 1 : Select Drug Category -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                Select Drug Category
                            </div>
                            <div class="card-block">
                                <form action="" method="post" enctype="multipart/form-data" class="form-2orizontal ">
                                    <!-- Drug Category : Drop down -->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="selectDrugCategory">Drug
                                            Category :</label>
                                        <div class="col-md-5">
                                            <select class="form-control" id="selectDrugCategory" ng-model="drugCategory"
                                                    ng-options="item as item.name for item in drugCategories" ng-change="getDrugsByCategory(drugCategory)" ng-required="true">
                                            </select>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div class="card-header">
                                Add Received Drug
                            </div>
                            <div class="card-block">
                                <form action="" method="post" enctype="multipart/form-data" class="form-2orizontal ">
                                    <!-- Drug name : Drop down -->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Drug Name :</label>
                                        <div class="col-md-5">
                                            <select id="select" name="select" class="form-control" ng-model="drugName"
                                                    ng-options="item as item.name for item in drugNames"  ng-change="genarateBatchNo()">

                                            </select>
                                        </div>
                                    </div>

                                    <!-- Batch Number : Text Field -->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="text-input">Batch Number
                                            :</label>
                                        <div class="col-md-5">
                                            <input type="text" id="text-input" name="text-input"  class="form-control"
                                                   placeholder="00" ng-model="batchNumber" disabled>
                                           <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>

                                    <!-- Type : Drop down -->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="selectType">Type :</label>
                                        <div class="col-md-5">
                                            <select id="selectType" name="select" class="form-control" ng-model="batchType"
                                                    ng-options="item as item.batchType for item in batchTypes" ng-change="displayContentFileds()">
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Content : Drop down -->
                                    <div class="form-group row"  ng-show="contentVisibility">
                                        <label class="col-md-3 form-control-label" for="selectType">Content :</label>
                                        <div class="col-md-5">
                                            <select id="contents" name="select" class="form-control" ng-model="batchContent"
                                                    ng-options="item as item.batchContent for item in batchContents" ng-change="displayContentTypeFileds()">
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Content Type : Drop down -->
                                    <div class="form-group row" ng-show="contentTypeVisibility">
                                        <label class="col-md-3 form-control-label" for="contentType">Content Type :</label>
                                        <div class="col-md-5">
                                            <select id="ContentType" name="select" class="form-control" ng-model="contentType"
                                                    ng-options="item as item.batchContentType for item in batchContentTypes"  ng-change="contentTypeFilter()">
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <!-------------------------------------------------------------------------------->

                                    <!-- Number of Cartoons : Text Field -->
                                    <div class="form-group row" ng-show="numberOfCartoonsVisibility">
                                        <label class="col-md-3 form-control-label" for="text-input">Number of Cartoons                                           :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="text-number-of-cartoon" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="numberOfCartoons" ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>

                                    <!-- Number of Cartoons Per Bottle : Text Field -->
                                    <div class="form-group row" ng-show="numberOfCartoonsPerBottleVisibility">
                                        <label class="col-md-3 form-control-label" for="text-number-of-cartoon-per-bottle">Number of Cartoons Per Bottle                                           :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="text-number-of-cartoon-per-bottle" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="numberOfCartoonsPerBottles" ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>

                                    <!-- Number of Bottles per Cartoon : Text Field -->
                                    <div class="form-group row" ng-show="numberOfBottlesPerCartoonVisibility">
                                        <label class="col-md-3 form-control-label" for="text-number-of-cartoon-per-cartoons">Number of Bottles Per Bottle                                           :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="text-number-of-cartoon-per-cartoons" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="numberOfCartoonsPerBottle" ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>

                                    <!-- Number of Tablets per Bottle : Text Field -->
                                    <div class="form-group row" ng-show="numberOfTabletsPerBottleVisibility">
                                        <label class="col-md-3 form-control-label" for="text-number-of-Tablets-per-bottle">Number of Tablets per Bottle                                       :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="text-number-of-Tablets-per-bottle" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="numberOfTabletsPerBottle" ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>

                                    <!-- Number of Bottles : Text Field -->
                                    <div class="form-group row" ng-show="numberOfBottlesVisibility">
                                        <label class="col-md-3 form-control-label" for="text-number-of-of-bottle">Number of Bottles                                   :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="text-number-of-of-bottle" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="numberOfBottles" ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>

                                    <!-- Tablets per Bottle : Text Field -->
                                    <div class="form-group row" ng-show="tabletsPerBottleVisibility">
                                        <label class="col-md-3 form-control-label" for="text-tables-per-bottle">Tablets per Bottle                                      :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="text-tables-per-bottle" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="tabletsPerBottle" ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>

                                    <!-- Number of Bottles per Cartoon : Text Field -->
                                    <!--<div class="form-group row" >
                                        <label class="col-md-3 form-control-label" for="number-of-bottles-per-cartoon">Tablets per Bottle                                      :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="number-of-bottles-per-cartoon" name="text-input"  class="form-control"
                                                   placeholder="00" ng-model="numberOfBottlesPerCartoon" >
                                            &lt;!&ndash; <span class="help-block">Please enter a Batch Number</span>&ndash;&gt;
                                        </div>
                                    </div>-->

                                    <!--Number of Cards per Cartoon : Text Field -->
                                    <div class="form-group row" ng-show="numberOfCardsPerCartoonVisibilty">
                                        <label class="col-md-3 form-control-label" for="number-number-of-cards-per-cartoon">Number of Cards per Cartoon                                      :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="number-number-of-cards-per-cartoon" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="numberOfCardsPerCartoon"  ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>
                                    <!--Number of Tablets per Card : Text Field -->
                                    <div class="form-group row" ng-show="numberOfTabletsPerCardVisibility">
                                        <label class="col-md-3 form-control-label" for="number-number-of-tablets-per-card">Number of Tablets per Card                                      :</label>
                                        <div class="col-md-5">
                                            <input type="number" id="number-number-of-tablets-per-card" name="text-input"  class="form-control"
                                                   placeholder="01" min="1" max="1000" ng-model="numberOfTabletsPerCartoon" ng-change="calculate()">
                                            <!-- <span class="help-block">Please enter a Batch Number</span>-->
                                        </div>
                                    </div>






                                    <!---------------------------------------------------------------------------------------------------->
                                    <hr>
                                    <!-- Quantity : Disable Text Field-->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="disabled-input">Quantity
                                            :</label>
                                        <div class="col-md-5">
                                            <input type="text" id="disabled-input" name="disabled-input"
                                                   class="form-control" placeholder="00" disabled ng-model="quantity">
                                        </div>
                                    </div>

                                    <!-- Manufacure Date : Date-->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="date-maufacure-date">Manufacure
                                            Date
                                            :</label>
                                        <div class="col-md-5">
                                            <input  type="date" id="date-maufacure-date" name="date-maufacure-date"
                                                   class="form-control" ng-model="manfacureDate" ng-change="validateManifactureDate()">
                                            <span class="help-block alert-danger" ng-show="showManiDateErr">Please enter a Correct Manufacure Date</span>
                                        </div>
                                    </div>

                                    <!-- Expire Date : Date-->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="dateExpireDate">Expire Date
                                            :</label>
                                        <div class="col-md-5">
                                            <input type="date" id="dateExpireDate" name="date-expire-date"
                                                   class="form-control" ng-model="expDate" ng-change="validateExpDate()" >
                                            <span class="help-block alert-danger" ng-show="showExpDateErr">Please enter a Valid Expire Date</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Buttons-->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-sm btn-primary" ng-click="addBatch()"><i class="fa fa-dot-circle-o"></i>
                                    Add Batch
                                </button>
                                <button type="reset" class="btn btn-sm btn-danger" ng-click="clear()"><i class="fa fa-ban"></i> Reset
                                </button>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Batch Information </strong>
            </div>
            <div class="card-block" >
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Drug Name</th>
                        <th>Manufacure Date</th>
                        <th>Expire Date</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="row in batches">
                        <td>{{row.batchNumber}}</td>
                        <td>{{row.drugname}}</td>
                        <td>{{row.manufacureDate}}</td>
                        <td>{{row.expireDate}}</td>
                        <td>{{row.quantity}}</td>

                    </tr>
                    </tbody>

                </table>





            </div>

        </div>
    </div>
</div>
</div>