<div ng-controller="StockCtrl">


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>Available Stocks
                    <div class="card-actions">
                        <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                    </div>
                </div>
                <div class="card-block">

                    <!-- Content goes here-->
                    <div class="card-block">
                        <table class="table table-striped" id="dataTable">
                            <thead>
                            <tr>
                                <th onclick="sortTable(0)">Drug Name</th>
                                <th>Unit Type</th>
                                <th>Drug Category</th>
                                <th>Drug Price</th>
                                <th>Drug Quantity</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tr ng-repeat="row in drugs">
                                <td>{{row.name}}</td>
                                <td>{{row.type.Name}}</td>
                                <td>{{row.category.name}}</td>
                                <td>{{row.price}}</td>
                                <td>{{row.quantity}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm"
                                             ng-click="sendDrugReqFrom(row)">Request
                                    </button>
                                </td>
                            </tr>
                            <tbody>

                        </table>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Drug Request</h4>
                </div>
                <div class="card-block">

                    <!-- Quantity : Disable Text Field-->
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="disabled-input">Drug Name :</label>
                        <div class="col-md-6">
                            <input type="text" id="m-text-drug" name="disabled-input"
                                   class="form-control" placeholder="" disabled >
                        </div>
                    </div>

                    <!-- Quantity : Disable Text Field-->
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="disabled-input">Drug Category :</label>
                        <div class="col-md-6">
                            <input type="text" id="disabled-input" name="disabled-input"
                                   class="form-control" placeholder="" disabled>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Amount :</label>
                        <div class="col-md-6">
                            <input type="number" min="100" id="text-input" name="text-input" class="form-control"
                                   placeholder="100">
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                        Send Request
                    </button>


                </div>
            </div>
        </div>
    </div>


    <script src="../../js/functions/table.js"></script>
</div>