<div class="row" ng-controller="prescriptionsCtrl">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i>Drug Dispense
                <div class="card-actions">
                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                </div>
            </div>
            <div class="card-block">



                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Select Prescription
                        </div>

                        <div class="card-block">
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                    </span>
                                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Patient Name" ng-model="searchText.patient.name">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <!-- prescriptions loading to the table-->

                        <div class="card-block"  >
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Patient Name</th>
                                    <th>Prescription Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="row in prescrioptions | filter:searchText">
                                    <td>{{row.patient.name}}</td>
                                    <td>{{row.date}}</td>
                                    <td>{{row.status}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="getPrescriptionId(row)" >Dispense</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>



                <!-- Stock detailts loading to the table-->
                <div class="col-lg-12" >
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Stock Details
                        </div>


                        <div class="card-block">
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                    </span>
                                            <input type="text" id="input2-group3" name="input2-group3" class="form-control" placeholder="Drug Name" ng-model="nameText.name">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="card-block">
                            <table class="table table-bordered table-striped table-sm" >
                                <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Drug Name</th>
                                    <th>Type</th>
                                    <th>Unit Price</th>
                                    <th>Available Qty</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="medicine in drugs | filter:nameText">
                                    <td>{{medicine.name}}</td>
                                    <td>{{medicine.type.Name}}</td>
                                    <td>{{medicine.price}}</td>
                                    <td>{{medicine.quantity}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade " id="myModal" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Issue drugs</h4>
                </div>
                <div class="card-block">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Prescription Detalis
                            </div>

                            <div class="card-block">

                                <table class="table table-bordered table-striped table-sm">
                                    <thead>

                                    <tr>
                                        <th>Drug Name</th>
                                        <th>Unit Type</th>
                                        <th>Unit Price</th>
                                        <th>Dosage</th>
                                        <th>Frequency(per day)</th>
                                        <th>Time period</th>
                                        <th>Total Qty</th>
                                        <th>Capability</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr  ng-repeat="drug in prescrioption[0].drugs">
                                        <td>{{drug.name}}</td>
                                        <td>{{drug.unitType}}</td>
                                        <td>{{drug.price}}</td>
                                        <td>{{drug.dosage}}</td>
                                        <td>{{drug.frequency}}</td>
                                        <td>{{drug.timePeriod}}</td>
                                        <td>{{drug.timePeriod*drug.frequency*drug.dosage}}</td>
                                        <td>
                                           {{checkAvailabilty(drug.timePeriod*drug.frequency*drug.dosage)}}
                                        </td>
                                        <td >
                                            <input type="checkbox">
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div>
                                    Total Price: {{}}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer"  >
                    <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o" ></i>
                        Confirm
                    </button>


                </div>
            </div>
        </div>
    </div>

    <!-- --- -->

</div>


