<div class="row" ng-controller="prescriptionsCtrl">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i>Add New Prescription
                <div class="card-actions">
                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                </div>
            </div>
            <div class="card-block">


                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Prescription</strong>
                            </div>
                            <div class="card-block">
                                <form  method="post" enctype="multipart/form-data" class="form-2orizontal ">


                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="text-input1">Patient Name
                                            :</label>
                                        <div class="col-md-9">
                                            <select class="col-md-3" ng-model="Prescription.name"
                                                    ng-options="item as item.patient.name for item in prescrioptions"
                                                    ng-required="true">

                                            </select>


                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="date-maufacure-date">
                                            Date
                                            :</label>
                                        <div class="col-md-5">
                                            <input type="date" id="date-maufacure-date" name="date-maufacure-date"
                                                   class="form-control" ng-model="Prescription.date"
                                            >

                                        </div>
                                    </div>
                                    <!-- Email : Text Field -->

                                    <div class="card-header">
                                        <strong>Add Drug</strong>
                                    </div>

                                    <div class="card-block">


                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input1">Drug Name
                                                :</label>
                                            <div class="col-md-9">
                                                <select class="col-md-3" ng-model="Prescription.drug"
                                                        ng-options="item as item.name for item in drugs"
                                                        ng-required="true">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input1">Unit Type
                                                :</label>
                                            <div class="col-md-9">
                                                <select class="col-md-3" ng-model="Prescription.type"
                                                        ng-options="item as item.type.Name for item in drugs"
                                                        ng-required="true">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input0">Dosage
                                                :</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="Prescription.dosage" id="text-input0"
                                                       name="text-input0" class="form-control"
                                                >

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input0">Frequency
                                                :</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="Prescription.frequency" id="text-input1"
                                                       name="text-input0" class="form-control"
                                                >

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input0">Adherence (Days)
                                                :</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="Prescription.Adherence" id="text-input2"
                                                       name="text-input0" class="form-control"
                                                >

                                            </div>
                                        </div>

                                        <button type="submit"  class="btn btn-sm btn-primary"><i
                                                class="fa fa-dot-circle-o"></i>
                                            Add Drug
                                        </button>
                                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                                            Reset
                                        </button>


                                    </div>


                                </form>
                            </div>
                            <!-- Buttons-->
                            <div class="card-footer">
                                <button type="submit"class="btn btn-sm btn-primary" ng-click="AddPrescription()"><i
                                        class="fa fa-dot-circle-o"></i>
                                    Add Prescription
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>