<script xmlns:filter="http://www.w3.org/1999/xhtml">
    function myFunction() {
        location.reload();
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i>Add Drug Category/Type
                <div class="card-actions">
                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Drug Categories</strong>
                            </div>
                            <div class="card-block">
                                <form method="post" enctype="multipart/form-data" class="form-2orizontal">

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="text-input">Category Name
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text"  name="text-input" class="form-control" ng-model="Categorie.Name">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <!-- Buttons-->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#myModal"><i class="fa fa-dot-circle-o" ></i>
                                    Add Category
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <div class="card-block" ng-controller="view_drugcategory">
                            Search : <input type="text" ng-model="searchText.Name";>
                            <br>
                            <br>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Drug Category</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in durgcategoryinfo | filter:searchText";>
                                    <td>{{row.name}}</td>
                                    <td><button class="btn btn-warning">Update</button>
                                    <button class="btn btn-danger">Delete</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Drug Types</strong>
                            </div>
                            <div class="card-block">
                                <form action="" method="post" enctype="multipart/form-data" class="form-2orizontal">

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="text-input">Type Name
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="text-input" name="text-input" class="form-control" ng-model="Drugtype.Name">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <!-- Buttons-->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#DrugTypeaddModal"><i class="fa fa-dot-circle-o" ></i>
                                    Add Type
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <div class="card-block" ng-controller="view_drugtype">
                            Search : <input type="text" ng-model="searchText.Name";>
                            <br>
                            <br>
                            <table class="table table-striped" id="dataTable">
                                <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Drug Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in durgtypeinfo | filter:searchText";>
                                    <td>{{row.Name}}</td>
                                    <td><button class="btn btn-warning">Update</button>
                                    <button class="btn btn-danger">Delete</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!--Drug Cateories add cateogory Modal -->
<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-md-7 form-control-label">Are You sure you want to Add the record?</label>
                </div>
            </div>
            <div class="card-footer"  ng-controller="add_categories" >
                <button type="submit" class="btn btn-sm btn-primary"  ng-click="AddCategorie()"><i class="fa fa-dot-circle-o" ></i>
                    ADD
                </button>
                <button type="button"class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>Close</button>
            </div>
        </div>
    </div>
</div>

<!--
<form role="form" name="form1"  method="post" enctype="multipart/form-data">
    <div class="modal fade" id="drugcategorysuccess" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Drugs</h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-check" style="font-size:50px;color:#0300ff;float: right;margin-top: -10px"></i>
                    <p>Drug Category Added Successfully!</p>
                </div>
                <div class="modal-footer" ng-controller="reload">
                    <button type="submit" class="btn btn-default" name="close"  ng-click="reloadPage()";>Close</button>
                </div>
            </div>
        </div>
    </div>
</form>-->

<!-- Drug Type add Modal -->
<div class="modal fade " id="DrugTypeaddModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-md-7 form-control-label">Are You sure you want to Add the record?</label>
                </div>
            </div>
            <div class="card-footer"  ng-controller="add_drugtypes" >
                <button type="submit" class="btn btn-sm btn-primary"  ng-click="AddDrugtype()" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>
                    ADD
                </button>
                <button type="button"class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>Close</button>
            </div>
        </div>
    </div>
</div>