<div class="row" ng-controller="view_drugs">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i>Drug Handling
                <div class="card-actions">
                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                </div>
            </div>
            <div class="card-block">

                <!-- Row 2 : Add Drugs Manually-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Drugs Manually</strong>
                            </div>
                            <div class="card-block">
                                <form name="drugform" method="post" enctype="multipart/form-data" class="form-2orizontal">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="selectDrugCategory">Drug Category :</label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="selectDrugCategory" ng-model="category"
                                                    ng-options="item as item.name for item in drugCategories" ng-required="true">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="DrugType">Type :</label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="DrugType" ng-model="type"
                                                    ng-options="item as item.Name for item in drugDrugTypes" ng-required="true">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="DrugName">Drug Name
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="DrugName" name="text-input" class="form-control" ng-model="drugname" ng-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Price">Price
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="number" id="Price" name="disabled-input" class="form-control" ng-model="price" ng-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Reorderlevel">Reorder Level
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="number" id="Reorderlevel" name="disabled-input"
                                                   class="form-control" ng-model="reorderlevel" ng-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Dangerlevel">Danger Level
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="number" id="Dangerlevel" name="disabled-input"
                                                   class="form-control" ng-model="dangerlevel" ng-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Remarks">Remarks
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="Remarks" name="disabled-input"
                                                   class="form-control" ng-model="Remarks">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="Quantity">Quantity
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text" id="Quantity" name="disabled-input"
                                                   class="form-control" ng-model="quantity">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#myModal" ng-disabled="drugform.$invalid"><i class="fa fa-dot-circle-o" ></i>
                                        Add Drugs
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Row 3 : View Drug Information -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>View Drug Information</strong>
                            </div>
                            <div class="card-block">
                                <div class="card-block">
                                    Search By :
                                    <select id="selectedfilter" name="select" class="btn btn-default btn-select-light" ng-model="selectedfilter">
                                        <option value="" disabled selected>Please select</option>
                                        <option value="">Category</option>
                                        <option value="">Type</option>
                                        <option value="">Name</option>
                                        <option value="">Price</option>
                                        <option value="">Reorderlevel</option>
                                        <option value="">Dangerlevel</option>
                                    </select>

                                    Search : <input type="text" ng-model="searchText" ng-init="{{selectedfilter}}";>
                                    <table class="table table-striped" id="dataTable">
                                        <thead>
                                        <tr>
                                            <th>Drug Category</th>
                                            <th>Drug Name</th>
                                            <th>Type</th>
                                            <th>Price</th>
                                            <th>Reorder Level</th>
                                            <th>Danger Level</th>
                                            <th>Remarks</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="row in durginfo | filter:searchText";>
                                            <td>{{row.category.name}}</td>
                                            <td>{{row.type.Name}}</td>
                                            <td>{{row.name}}</td>
                                            <td>{{row.price}}</td>
                                            <td>{{row.reorderLevel}}</td>
                                            <td>{{row.dangerLevel}}</td>
                                            <td>{{row.Remarks}}</td>
                                            <td><button class="btn btn-warning" data-toggle="modal" data-target="#updatemodal">Update</button></td>
                                            <td><button class="btn btn-danger" ng-click="deleteDrug(row)" data-toggle="modal" data-target="#drugdeletesucess">Delete</button></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--
                                    <div class="form-group row" ng-show="contentVisibility">
                                        <div class="card-block">
                                            <form method="post" enctype="multipart/form-data" class="form-2orizontal">
                                                <label class="col-md-5 form-control-label">Category :</label>
                                                <div class="col-md-5">
                                                    <select id="contents" name="select" class="form-control" ng-model="batchContent"
                                                            ng-options="item as item.Category for item in drugContents" ng-change="populateContentType(Category)">
                                                    </select>
                                                </div>
                                                <label class="col-md-5 form-control-label">Drug Name :</label>
                                                <div class="col-md-5">
                                                    <select id="contentss" name="select" class="form-control" ng-model="batchContent"
                                                            ng-options="item as item.Category for item in drugContents" ng-change="populateContentType(Name)">
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>-->

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="updatemodal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Drug</h4>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="selectDrugCategory">Drug Category :</label>
                    <div class="col-md-9">
                        <select class="form-control" id="selectDrugCategoryupdate" ng-model="category"
                                ng-options="item as item.name for item in drugCategories" ng-required="true">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="DrugType">Type :</label>
                    <div class="col-md-9">
                        <select class="form-control" id="DrugTypeupdate" ng-model="type"
                                ng-options="item as item.Name for item in drugDrugTypes" ng-required="true">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="DrugName">Drug Name
                        :</label>
                    <div class="col-md-9">
                        <input type="text" id="DrugNameupdate" name="text-input" class="form-control" ng-model="drugname" ng-required="true">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="Price">Price
                        :</label>
                    <div class="col-md-9">
                        <input type="number" id="Priceupdate" name="disabled-input" class="form-control" ng-model="price" ng-required="true">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="Reorderlevel">Reorder Level
                        :</label>
                    <div class="col-md-9">
                        <input type="number" id="Reorderlevelupdate" name="disabled-input"
                               class="form-control" ng-model="reorderlevel" ng-required="true">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="Dangerlevel">Danger Level
                        :</label>
                    <div class="col-md-9">
                        <input type="number" id="Dangerlevelupdate" name="disabled-input"
                               class="form-control" ng-model="dangerlevel" ng-required="true">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="Remarks">Remarks
                        :</label>
                    <div class="col-md-9">
                        <input type="text" id="Remarksupdate" name="disabled-input"
                               class="form-control" ng-model="Remarks">
                    </div>
                </div>


                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"  ng-click="saveUpdateDrug()" data-dismiss="modal" data-toggle="modal" data-target="#drugcategoryupdatesuccess"><i class="fa fa-dot-circle-o" ></i>
                        Update
                    </button>
                    <button type="button"class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-md-7 form-control-label">Are You sure you want to Add the record?</label>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"  ng-click="AddDrug()" data-dismiss="modal" data-toggle="modal" data-target="#drugcategorysuccess"><i class="fa fa-dot-circle-o" ></i>
                        ADD
                    </button>
                    <button type="button"class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>Close</button>
                </div>
            </div>
        </div>
    </div>

    <form role="form" name="form1"  method="post" enctype="multipart/form-data">
        <div class="modal fade" id="drugcategorysuccess" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Drugs</h4>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-check" style="font-size:50px;color:#0300ff;float: right;margin-top: -10px"></i>
                        <p>Drug Category Added Successfully!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" name="close" data-dismiss="modal";>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form role="form" name="form1"  method="post" enctype="multipart/form-data">
        <div class="modal fade" id="drugcategoryupdatesuccess" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Drugs</h4>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-check" style="font-size:50px;color:#0300ff;float: right;margin-top: -10px"></i>
                        <p>Drug Category Updated Successfully!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" name="close" data-dismiss="modal";>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form role="form" name="form1"  method="post" enctype="multipart/form-data">
        <div class="modal fade" id="deletedrug" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <i class="fa fa-exclamation-triangle" style="font-size:50px;color:#ff001f;float: right;margin-top: -10px"></i>
                        <p>Are You Sure You Want to Delete The Drug?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" >Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form role="form" name="form1"  method="post" enctype="multipart/form-data">
        <div class="modal fade" id="drugdeletesucess" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Album</h4>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-check" style="font-size:50px;color:#0300ff;float: right;margin-top: -10px"></i>
                        <p>Drug Deleted Successfully!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>


